@font-face {
    font-family: pretty;
    src: url('NellaSue.ttf');
}

@font-face {
    font-family: otsikko;
    src: url('AldithRegular.ttf');
}

.brutal {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 100%;
}

.pretty {
    font-family: pretty;
    font-size: 140%;
}

h1 {
    font-family: otsikko;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 550%;
    word-wrap: break-word;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 100%;
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.0;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
}

#navicon {
    margin-top: 33px;
    margin-left: 30px;
}

/* GRID LAYOUT*/

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(44, 100px);
}

nav {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

header {
    background-color:black;
    background-image: url('placeholder2.jpg');
    color: whitesmoke;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: left;
    padding: 15px;
}

main {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 11;
    padding: 15px;
}

#code {
    background-color: black;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 16;
    padding: 15px;
}

#work {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 17;
    padding: 15px;
}

#proj1 {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
      grid-row-start: 17;
    grid-row-end: 21;
    padding: 15px;
}

#proj2 {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
     grid-row-start: 21;
    grid-row-end: 25;
    padding: 15px;
}

#proj3 {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 25;
    grid-row-end: 29;
    padding: 15px;
}

#proj4 {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 29;
    grid-row-end: 33;
    padding: 15px;
}

#proj5 {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 33;
    grid-row-end: 37;
    padding: 15px;
}

#proj6 {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 37;
    grid-row-end: 42;
    padding: 15px;
}

aside {
    background-color: white;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 42;
    grid-row-end: 44;
    padding: 15px;
}

footer {
    background-color: whitesmoke;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 44;
    grid-row-end: 45;
    padding: 15px;
}